# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Editor
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backup
*.bak
out/
node_modules/
vscode/node_modules/
